/*Selector {
	Property: value; 
}*/

body {
	background-image: url(ai.jpg);
	background-size: cover;
}

h2 {
	color: #FFF5AA;
	text-align: center;
	border: 5px solid rgba(170, 157, 57, 0.5);
	cursor: pointer;
}

p {
	color: pink;
}

p {
	color: green;
}

li {
	list-style: none;
	display: inline-block;
}

